
#calImg:after 
   	content "\f073"
    font-family FontAwesome
    font-style normal
    width 18px
    height 14px
    top  -9px
    margin-left  0px


#customizeInputGroup 
    margin 0
    width auto
    max-width 400px

.datePicker
    width 100%

.picker 
    width 60%
